.contenedor-imagen {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 2rem;
    text-align: start;
    width: 100%;
    padding-left: 25px;
    font-weight: bold;
    color: #fff;
}